#buttons {
  margin: 2em;
  display: flex;
  justify-content: space-between;
}

#screen {
  margin: 2em;
  display: flex;
  justify-content: space-around;
}

.display {
  flex: 1;
  max-width: 200px;
}

#machine-container {
  margin: 2em;
  display: flex;
  justify-content: center;
  align-content: stretch;
}